<navbar></navbar>
<disclaimer-div></disclaimer-div>
<div class="icons ">
    <div class="container reveal">
        <h1>Selecciones de Menú</h1>
        <img src="icons/plate.png" alt="">
        <p>
            Comienza con algo ligero y
        </p>
        <p>delicioso</p>
    </div>
    <div class="container reveal">
        <h1>Platos fuertes</h1>
        <img src="icons/fork.png" alt="">
        <p>
            Disfruta nuestra
        </p>
        <p>especialidad de la casa</p>
    </div>
    <div class="container reveal">
        <h1>Postres</h1>
        <img src="icons/ice-cream.png" alt="">
        <p>El dulce final perfecto</p>
    </div>
</div>
<div class="how-works">
    <div class="container-title">
        <h1>¿Cómo funciona?</h1>
    </div>
    <div class="container-how-works">
        <div class="text-containers-img-description reveal">
            
            <img src="icons/location.png" alt="">
            <span class="number-position">1</span>
            <h3>Explora Lugares</h3>
            <p>Navega por nuestras categorías</p>
            <p>y descubre lugares unicos</p>
        </div>
        <div class="text-containers-img-description reveal">
            
            <img src="icons/calendar.png">
            <span class="number-position">2</span>
            <h3>Elige Hora y Fecha</h3>
            <p>Selecciona la hora y horario</p>
            <p>
                que mas te convenga
            </p>
        </div>
        <div class="text-containers-img-description reveal">
            
            <img src="icons/check.png">
            <span class="number-position">3</span>
            <h3>Confirma y Listo</h3>
            <p>Recibe tu confirmación al instante</p>
        </div>






    </div>
</div>
<app-restaurants></app-restaurants>