<nav class="navbar">
    <div class="logo">
        <img src="logo/logoGreatFoodsBlanco.png" alt="" width="100">
        <div class="first-list">
            <a href="">INICIO</a>
            <a href="">RESTAURANTES</a>
            <a href="">RESERVAS</a>
        </div>
    </div>



    <div class="second-list">
        <a href="">explorar</a>
        <a href="">promociones</a>
        <a href="">soporte</a>

        <button class="login-btn">Ingresar</button>
    </div>


</nav>
<div class="top"></div>